<script src="../../../node_modules/chart.js/dist/Chart.js"></script>
 <div class="container mobile">
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <div class="row graphTittle">
        <span class="tittle">Notas del examen de I.P.F</span>
      </div>
      <canvas id="ipfChart" height="200"></canvas>
    </div>
    <div class="col-sm-12 col-md-6">
      <div class="row graphTittle">
        <span class="tittle">Notas finales de Política</span>
      </div>
      <canvas id="politicsChart" height="200"></canvas>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <div class="row graphTittle">
        <span class="tittle">Notas del examen de Lógica</span>
      </div>
      <canvas id="logicChart" height="200"></canvas>
    </div>
    <div class="col-sm-12 col-md-6">
      <div class="row graphTittle">
        <span class="tittle">Notas finales de Antropología</span>
      </div>
      <canvas id="antropologyChart" height="200"></canvas>
    </div>
  </div>
</div>