<div class="container mobile">
  <div class="card-columns">
    <div class="card bg-primary" style="color: white;">
      <img class="card-img-top" src="https://www.catarata.org/media/catarata55/images/thumbs/author-79539-130x190.jpg" alt="Card image">
      <div class="card-body">
        <h3 >Teorias Éticas</h3>
        <h5 >José Luis López de Lizaga</h5>
        <p class="card-text">Email: lizaga@unizar.es </p>
        <a style="color:white" href="../../assets/docs/programas/PROGRAMA Teorías Éticas 20-21.pdf" download="">PROGRAMA Teorías Éticas 20-21.pdf</a>
      </div>
    </div>
    <div class="card bg-warning">
      <img class="card-img-top" src="https://media-exp1.licdn.com/dms/image/C4E03AQG78DCsz475sg/profile-displayphoto-shrink_200_200/0/1516827850409?e=1618444800&v=beta&t=_lp5Ifih6e-Rnwozg7-l3sezc_cTBzBE0P8Xy17tzcU" alt="Card image">
      <div class="card-body">
        <h3 >Filosofía de la cultura</h3>
        <h5 >Julien Christian Canavera</h5>
        <p class="card-text">Email: lizaga@unizar.es </p>
        <a style="color:white" href="../../assets/docs/programas/PROGRAMA Teorías Éticas 20-21.pdf" download="">PROGRAMA Teorías Éticas 20-21.pdf</a>
        </div>
    </div>
    <div class="card bg-success">
      <div class="card-body">
        <p class="card-text">Some text inside the third card</p>
      </div>
    </div>
    <div class="card bg-danger">
      <div class="card-body">
        <p class="card-text">Some text inside the fourth card</p>
      </div>
    </div>
    <div class="card bg-light">
      <div class="card-body">
        <p class="card-text">Some text inside the fifth card</p>
      </div>
    </div>
    <div class="card bg-info">
      <div class="card-body">
        <p class="card-text">Some text inside the sixth card</p>
      </div>
    </div>
  </div>
</div>