<button id="burger" class="open-main-nav">
  <span class="burger"></span>
  <span class="burger-text">Menu</span>
</button>
<nav class="main-nav" id="main-nav">
  <ul>
    <li class="nav-item" (click)="closeNav()" routerLinkActive="active">
      <a class="nav-link" routerLink="home">Home</a>
    </li>
    <li class="nav-item" (click)="closeNav()">
      <a class="nav-link" routerLink="gallery">Galería</a>
    </li>
    <li class="nav-item" (click)="closeNav()">
      <a class="nav-link" routerLink="trello">Trello</a>
    </li>
    <li class="nav-item" (click)="closeNav()">
      <a href="stats">Estadísticas</a>
    </li>
    <li class="nav-item" (click)="closeNav()">
      <a href="info">Links Útiles</a>
    </li>
  </ul>
</nav>