<button id="burger" class="open-main-nav">
  <span class="burger"></span>
  <span class="burger-text">Menu</span>
</button>
<nav class="main-nav" id="main-nav">
  <ul>
    <li class="nav-item " routerLinkActive="active">
      <a class="nav-link" routerLink="home">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="gallery">Galeria</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="gallery">Sobre Nosotros</a>
    </li>
    <li>
      <a href="#">Contact</a>
    </li>
    <li>
      <a href="#">Blog</a>
    </li>
  </ul>
</nav>