<div class="container">
<h1 style="text-align: center;">Apartado en proceso</h1>
  <section class="gallery">
    <div class="gallery__item">
      <input type="radio" id="img-1" checked name="gallery" class="gallery__selector" />
      <img class="gallery__img" src="../../assets/img/gallery/WhatsApp Image 2021-10-07 at 23.57.52.jpeg" alt="" />
      <label for="img-1" class="gallery__thumb"><img src="../../assets/img/gallery/WhatsApp Image 2021-10-07 at 23.57.52.jpeg" alt="" /></label>
    </div>
    <div class="gallery__item">
      <input type="radio" id="img-2" name="gallery" class="gallery__selector" />
      <img class="gallery__img" src="../../assets/img/gallery/WhatsApp Image 2021-10-07 at 23.57.53.jpeg" alt="" />
      <label for="img-2" class="gallery__thumb"><img src="../../assets/img/gallery/WhatsApp Image 2021-10-07 at 23.57.53.jpeg" alt="" /></label>
    </div>
    <div class="gallery__item">
      <input type="radio" id="img-3" name="gallery" class="gallery__selector" />
      <img class="gallery__img" src="../../assets/img/gallery/WhatsApp Image 2021-10-07 at 23.57.53 (1).jpeg" alt="" />
      <label for="img-3" class="gallery__thumb"><img src="../../assets/img/gallery/WhatsApp Image 2021-10-07 at 23.57.53 (1).jpeg" alt="" /></label>
    </div>
    <div class="gallery__item">
      <input type="radio" id="img-4" name="gallery" class="gallery__selector" />
      <img class="gallery__img" src="../../assets/img/gallery/WhatsApp Image 2021-10-07 at 23.57.53 (2).jpeg" alt="" />
      <label for="img-4" class="gallery__thumb"><img src="../../assets/img/gallery/WhatsApp Image 2021-10-07 at 23.57.53 (2).jpeg" alt="" /></label>
    </div>
  </section>
</div>