.info__wrapper {
  width: 100vw;
  height: 100vh;
  overflow: auto  ;
}

.mobile {
  margin-top: 0%;
  margin: auto;
  display: block;
}

@media screen and (max-width: 768px) {
  .mobile {
    margin-top: 12%;
  }
}

.mat-tree{
  background: none;
}

// Estilos importados
.example-tree-invisible {
  display: none;
}

.example-tree ul,
.example-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}
