.mobile {
  margin-top: 0%;
  margin: auto;
  display: block;
}

.mat-tree{
  background: none;
}

// Estilos importados
.example-tree-invisible {
  display: none;
}

.example-tree ul,
.example-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}
