.footnotes {
  width: 100%;
}

ol {
  column-count: 2;
}

h2 {
  border-bottom: 1px solid #a2a9b1;
  width: 100%;
  padding-left: 2%;
  padding-right: 2%;
}

.container {
  background-color: white;
  min-height: 100%;
}

p {
  text-align: justify;
  padding: 2%;
}

tr {
  border-bottom: 1px solid #a2a9b1;
}
