/* You can add global styles to this file, and also import other style files */
html,body {
  width: 100%;
  height: 100%;
  margin: 0;
}

@font-face {
  font-family: Open-Sans;
  src: url(assets/OpenSans/OpenSans-Bold.ttf) format("opentype");
}

*{
  font-family: Open-Sans, Helvetica, Arial, sans-serif;
}
:root {
    --primary-color: #438ccc;
    --accent-color: #f4ac4c;
    --font-size: 50px;
}

.modal-backdrop {
  z-index: auto !important;
}