<!-- <div class="contenedor">
  <div class="row">
    <div class="col-lg-1 col-sm-0"></div>
    <div class="col-lg-4 col-sm-12 white-bg">
      <h1>Universidad de Zaragoza</h1>
      <h3>Portal principal</h3>
      <p>Pagina web creada para los alumnos del segundo año del grado de <b style="color: #438CCC;">filosofía</b>
        donde se podran encontrar calendarios, links utiles, horarios...</p>
      <img class="img-fluid" style="margin: auto; display: block;" src="../../assets/img/the_svg.svg">
    </div>
    <div class="col-lg-1 col-sm-0 white-bg"></div>
    <div class="col-lg-5 col-sm-12 white-bg">
      <div class="box">
        <h1>Universidad de Zaragoza</h1>
        <h3>Links de Utilidad</h3>
        <ul class="df">
          <li><a href="https://sede.educacion.gob.es/tramite/login/inicio.jjsp?idConvocatoria=111">Consulta de Becas</a>
          </li>
          <li><a
              href="https://eds.a.ebscohost.com/eds/search/basic?vid=5&sid=20001fb6-8c1e-431e-8c2b-93a4daaec4a2%40sessionmgr4007">Biblioteca
              Unizar</a></li>
          <li><a href="https://drive.google.com/drive/folders/1n5s-1kb7ebCZwAXmQvhoidGQfIrO4Ooe?usp=sharing">Biblioteca
              Politica Drive</a></li>
        </ul>
      </div>
    </div>
    <div class="col-lg-1 col-sm-0"></div>
  </div>
</div> -->
<div class="contenedor">
  <section class="home-banner-area">
    <div class="container">
      <div class="row justify-content-center fullscreen align-items-center">
        <div class="col-lg-5 col-md-8 home-banner-left">
          <h1>Universidad de Zaragoza</h1>
          <p>Pagina web creada para los alumnos del segundo año del grado de filosofía donde se podran encontrar
            calendarios, links
            utiles, horarios...</p>
        </div>
        <div class="offset-lg-2 col-lg-5 col-md-12 home-banner-right">
          <img class="img-fluid" src="../../assets/img/the_svg.svg">
        </div>
      </div>
    </div>
  </section>
  <section class="feature-area">
    <div class="container-fluid">
      <div class="feature-inner row">
        <div class="col-lg-2 col-md-6">
          <div class="feature-item d-flex">
            <i class="ti-book"></i>
            <div class="ml-20">
              <h4>New Classes</h4>
              <p>
                In the history of modern astronomy, there is probably no one greater leap forward.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-md-6">
          <div class="feature-item d-flex">
            <i class="ti-cup"></i>
            <div class="ml-20">
              <h4>Top Courses</h4>
              <p>
                In the history of modern astronomy, there is probably no one greater leap forward.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-md-6">
          <div class="feature-item d-flex border-right-0">
            <i class="ti-desktop"></i>
            <div class="ml-20">
              <h4>Full E-Books</h4>
              <p>
                In the history of modern astronomy, there is probably no one greater leap forward.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="links-area">
    <div class="container">
      <div class="feature-inner row">
        <div class="col-lg-4 col-md-6">
          <div class="card">
            <img class="card-img-top" src="../../assets/img/home/Logotipo_del_Gobierno_de_España.svg.png"
              alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Becas MEC/MEFP</h5>
              <p class="card-text">Para solicitar o consultar el estado de tu beca
              </p>
              <a href="https://sede.educacion.gob.es/tramite/login/inicio.jjsp?idConvocatoria=111"
                class="btn btn-primary">Haz click aquí</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="card">
            <img class="card-img-top" src="../../assets/img/home/biblioteca.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Biblioteca politica drive</h5>
              <p class="card-text">Biblioteca que contiene diferentes titulos relacionados con la politica y la
                filosofía
                politica
              </p>
              <a href="https://drive.google.com/drive/folders/1n5s-1kb7ebCZwAXmQvhoidGQfIrO4Ooe?usp=sharing"
                class="btn btn-primary">Haz click aqui</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="card">
            <img class="card-img-top" src="../../assets/img/home/biblioteca_real.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Biblioteca Unizar</h5>
              <p class="card-text">Revisa que libros hay en las diferentes bibliotecas del campus asi como su
                disponibilidad y referencias
              </p>
              <a href="https://eds.a.ebscohost.com/eds/search/basic?vid=5&sid=20001fb6-8c1e-431e-8c2b-93a4daaec4a2%40sessionmgr4007"
                class="btn btn-primary">Haz click aqui</a>
            </div>
          </div>
        </div>
        <!-- <div class="col-lg-2 col-md-6">
        <div class="card" >
          <img class="card-img-top" src="..." alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.
            </p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-md-6">
        <div class="card" >
          <img class="card-img-top" src="..." alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.
            </p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-md-6">
        <div class="card" >
          <img class="card-img-top" src="..." alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.
            </p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div> -->
      </div>
    </div>
  </section>
  <footer>
    <div class="footer-bottom">
      <p>copyright &copy; <a href="#">Javier Lapuente Garcia</a> </p>
      <div class="footer-menu">
        <ul class="f-menu">
          <li><a href="">Home</a></li>
          <li><a href="">About</a></li>
          <li><a href="">Contact</a></li>
          <li><a href="">Blog</a></li>
        </ul>
      </div>
    </div>
  </footer>
</div>
<!-- <div class="footer">
  <div class="row">
    <div class="col-lg-2 col-md-6">
      © 2020 Copyright: javierlapuentegarcia@gmail.com
    </div>
    <div class="col-lg-2 col-md-6">
      © 2020 Copyright: javierlapuentegarcia@gmail.com
    </div>
    
  </div>

</div> -->