<div class="container mobile">
  <div class="row">
    <div class="col-lg-2 col-sm-0"></div>
    <div class="col-lg-8 col-sm-12">
      <h1>Primero de Filosofía</h1>
      <p>Pagina web creada para los alumnos del primer año del grado de <span style="color: #2a4cfe;">filosofía</span>
        donde se podran encontrar calendarios, links utiles, horarios...</p>
      <div class="agenda calendarContainer">
        <h2 class="calendarTitle">Agenda de entregas y examenes</h2>
        <button id="my-btn" type="button" class="btn btn-primary calendarBoton" (click)="this.animate()">
          <!-- <i class="fas fa-sync"></i> -->
          Cambiar calendario
        </button>
        <iframe
          src="https://calendar.google.com/calendar/embed?height=800&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=Europe%2FMadrid&amp;src=Y18wanNvZTYyNjNvdmcxZHQ1YXVzZnJqbWdqOEBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&amp;color=%23D50000&amp;showDate=0&amp;showNav=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;mode=AGENDA&amp;showTitle=0"
          style="border:solid 1px #777" height="100%" width="100%" frameborder="0" scrolling="no"></iframe>
      </div>
      <div class="birthday calendarContainer" style="display: none;">
        <h2 class="calendarTitle">Cumpleaños de los compañeros</h2> 
      <button id="my-btn" type="button" class="btn btn-primary calendarBoton" (click)="this.animate()">
        <!-- <i class="fas fa-sync"></i> -->
        Cambiar calendario
      </button>
        <iframe
          src="https://calendar.google.com/calendar/embed?height=1200&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=Europe%2FMadrid&amp;src=Y19wbjZidnBmaGFjNmgybm10aTBrOGExNTVrY0Bncm91cC5jYWxlbmRhci5nb29nbGUuY29t&amp;color=%234285F4&amp;showTz=0&amp;showNav=1&amp;showDate=1&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;mode=MONTH&amp;showTitle=0&amp;title"
          style="border-width:0" width="100%" height="100%" frameborder="0" scrolling="no"></iframe>
      </div>
    </div>
    <div class="col-lg-2 col-sm-0"></div>
  </div>
</div>